/*-- change style only for forms */

/*-- lables */
.label label {
  font-family: Arial;
  font-size: 14px;
  margin-top: 1em;
}

.label input[type="checkbox"]:checked+label {
  background-color: #bbb;
}

/*-- button */
.button {
  margin-left: 4em;
  margin-top: 2em;
}

/*-- titles */
h1 {
 color:white;
 text-align: center;
}

/*-- background */
.form {
  background-color:white;
}