/* Create two equal columns that floats next to each other */
.column {
  float: left;
  margin-left: 14%;
  width: 65%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}