<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Standout</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="static/base.css">
    <link rel="stylesheet" href="static/vendor.css">
    <link rel="stylesheet" href="static/main.css">

    <!-- script
    ================================================== -->
    <script src="static/js/modernizr.js"></script>
    <script src="static/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="/">
                <img src="static/images/logo.svg" alt="Homepage">
            </a>
        </div>

        <nav class="row header-nav-wrap wide">
            <ul class="header-main-nav">
                <li><a href="#about" title="intro" method="get">Sobre</a></li>
                <li><a href="/index" title="intro" method="get">Início</a></li>
                <li><a href="/register" title="register" method="get">Registrar-me</a></li>
                <li><a href="/login" title="login" method="get">Entrar</a></li>
            </ul>
        </nav>

            <!--<ul class="header-social">
                <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            </ul>-->

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section">

        <div class="home-image-part"></div>

        <div class="home-content">
            <br>
            <br>

            <div class="row home-content__main wide">

                <h1>
                Um novo jeito de <br>
                fazer amigos
                </h1>

                <h3>
                    Não seria ótimo poder fazer amigos que têm muitos interesses em comum conosco?
                    Nós acreditamos que sim. Por isto, criamos um meio para que os estudantes possam se conhecer melhor.
                </h3>

                <div class="home-content__button">
                    <form action="/register"><button class="btn btn--primary btn--large" title="login" method="get">
                        Registre-se grátis</button></form>

                </div>

            </div> <!-- end home-content__main -->

            <a href="#about" class="home-scroll smoothscroll">
                <span class="home-scroll__text">Scroll Down</span>
                <span class="home-scroll__icon"></span>
            </a>

        </div> <!-- end home-content -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="row section-header narrower align-center" data-aos="fade-up">
            <div class="col-full">
                <h1 class="display-1">
                    Feito por alunos da UFSC para alunos da UFSC.
                </h1>
                <p class="lead">
                    Registre-se, preencha seus interesses e encontre pessoas!
                </p>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full slick-slider about-desc__slider">

                <div class="about-desc__slide">
                    <h3 class="item-title">Faça os cálculos</h3>

                    <p>
                        A UFSC tem 45.000 estudantes.
                        Quais as chances de você ter conhecido aqueles que têm mais afinidade com você?
                    </p>
                </div>  <!-- end about-desc__slide -->

                <div class="about-desc__slide">
                    <h3 class="item-title">Facilita</h3>

                    <p>
                        Pode ser difícil fazer amigos em cidades completamente novas. WebAppUFSC facilita isso para você.
                    </p>
                </div>  <!-- end about-desc__slide -->

                <div class="about-desc__slide">
                    <h3 class="item-title">Hobbies</h3>

                    <p>
                    Às vezes nossos hobbies ou interesses são tão específicos que fica difícil achar pessoas com quem os
                        compartilhar. Aumentamos as chances de encontrar sua agulha no palheiro.
                    </p>
                </div>  <!-- end about-desc__slide -->

                <div class="about-desc__slide">
                    <h3 class="item-title">Sinta-se seguro</h3>

                    <p>
                    Sabemos que socializar não é sempre fácil para todos. Por isso, criamos uma política de convivência
                        e um manual de socialização.
                    </p>
                </div>  <!-- end about-desc__slide -->

            </div> <!-- end about-desc__slider -->
        </div> <!-- end about-desc -->

        <div class="row about-bottom-image" data-aos="fade-up">
         </div>

    </section> <!-- end s-about -->


    <!-- process
    ================================================== -->
    <section id="process" class="s-process">

        <div class="row">
            <div class="col-full text-center" data-aos="fade-up">
                <h2 class="display-2">Como funciona?</h2>
            </div>
        </div>

        <div class="row process block-1-4 block-m-1-2 block-tab-full">
            <div class="col-block item-process" data-aos="fade-up">
                <div class="item-process__text">
                    <h3>Registre-se</h3>
                    <p>
                    Registre um nome de usuário, email e senha.
                    </p>
                </div>
            </div>
            <div class="col-block item-process" data-aos="fade-up">
                <div class="item-process__text">
                    <h3>Preencha</h3>
                    <p>
                     Preencha uma lista de interesses pessoais e suas informações detalhadas de perfil.
                    </p>
                </div>
            </div>
            <div class="col-block item-process" data-aos="fade-up">
                <div class="item-process__text">
                    <h3>Sugestões</h3>
                    <p>
                    Olhe a lista de sugestões e conecte-se com as pessoas que você quiser conhecer!
                    </p>
                </div>
            </div>
            <div class="col-block item-process" data-aos="fade-up">
                <div class="item-process__text">
                    <h3>Aproveite!</h3>
                    <p>
                    Encontre pessoas com interesses em comum e marque aquele role com seus migUFSCs!
                    </p>
                </div>
            </div>
        </div> <!-- end process -->
    </section> <!-- end s-process -->


    <!-- features
    ================================================== -->
    <section id="features" class="s-features target-section">

        <div class="row section-header narrower align-center has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h1 class="display-1">
                    Feito para aumentar o nível de satisfação dos estudantes.
                </h1>
                <p class="lead">
                    Como você se sente na universidade? Sabemos que a experiência é única para cada um. Também sabemos
                    que tudo fica melhor com uma boa companhia.
                    Queremos aumentar as chances de você encontrar pessoas compatíveis com seus interesses e melhorar
                    sua experiência acadêmica.
                </p>
            </div>
        </div> <!-- end section-header -->

        <div class="testimonials-wrap" data-aos="fade-up">

            <!--<div class="row">
                <div class="col-full testimonials-header">
                    <h2 class="display-2">1 Million+ Users Can't Be Wrong.</h2>
                </div>
            </div>

            <div class="row testimonials">

                <div class="col-full slick-slider testimonials__slider">

                    <div class="testimonials__slide">
                        <img src="static/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                        <div class="testimonials__author">
                            <span class="testimonials__name">Naruto Uzumaki</span>
                            <a href="#0" class="testimonials__link">@narutouzumaki</a>
                        </div>
                        <p>Qui ipsam temporibus quisquam velMaiores eos cumque distinctio nam accusantium ipsum.
                        Laudantium quia consequatur molestias delectus culpa facere hic dolores aperiam. Accusantium praesentium corpori.</p>
                    </div> <!-- end testimonials__slide -->

                    <!--<div class="testimonials__slide">
                        <img src="static/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                        <div class="testimonials__author">
                            <span class="testimonials__name">Sasuke Uchiha</span>
                            <a href="#0" class="testimonials__link">@sasukeuchiha</a>
                        </div>
                        <p>Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci.
                        Nisi eaque consequatur. Quasi voluptas eius distinctio. Atque eos maxime. Qui ipsam temporibus quisquam vel.</p>
                    </div> <!-- end testimonials__slide -->

                    <!--<div class="testimonials__slide">
                        <img src="static/images/avatars/user-03.jpg" alt="Author image" class="testimonials__avatar">
                        <div class="testimonials__author">
                            <span class="testimonials__name">Shikamaru Nara</span>
                            <a href="#0" class="testimonials__link">@shikamarunara</a>
                        </div>
                        <p>Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.
                        Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.</p>
                    </div> <!-- end testimonials__slide -->

               <!-- </div> <!-- end testimonials__slider -->

            <!--</div> <!-- end testimonials -->

        <!--</div> <!-- end testimonials-wrap -->

    </section> <!-- end s-features -->

    <!-- footer
    ================================================== -->
    <footer class="s-footer footer">

        <div class="row footer__top">
            <div class="col-six md-full">
                <h1 class="display-2">
                    Vamos manter contato
                </h1>
                <p class="lead">
                    Se inscreva para receber novidades.
                </p>
            </div>
            <div class="col-six md-full footer__subscribe end">
                <div class="subscribe-form">
                    <form action="/" method="post" id="mc-form" class="group" novalidate="true" role="form">

                        <input type="email" name="email" class="email" id="email" placeholder="Email Address">

                        <input type="submit" name="subscribe" value="SignUp">

                        <label for="mc-email" class="subscribe-message"></label>

                    </form>
                </div>
            </div>
        </div>

        <div class="row footer__bottom">
            <div class="col-five tab-full">
                <div class="footer__logo">
                    <a href="index.html">
                        <img src="static/images/logo.svg" alt="Homepage">
                    </a>
                </div>

                <p>
                Interessado em participar neste projeto?
                    Entre em contato com migufsc@gmail.com.
                </p>

                <ul class="footer__social">
                    <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="col-six tab-full end">
                <ul class="footer__site-links">
                    <li><a class="smoothscroll" href="#home" title="intro">Intro</a></li>
                    <li><a class="smoothscroll" href="#about" title="about">About</a></li>
                    <li><a class="smoothscroll" href="#features" title="features">Features</a></li>
                    <li><a class="smoothscroll" href="#pricing" title="pricing">Pricing</a></li>
                    <li><a href="blog.html" title="blog">Blog</a></li>
                </ul>

                <p class="footer__contact">
                    Feedbacks? Por favor envie para: <br>
                    <a href="mailto:#0" class="footer__mail-link">migufsc@gmail.com</a>
                </p>

                <div class="cl-copyright">
                    <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                </div>
            </div>

        </div>

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer> <!-- end s-footer -->


    <!-- Java Script
    ================================================== -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
<!--
                                 (O)
                              __--|--__
                      .------~---------~-----.
                      | .------------------. |
                      | |                  | |
                      | |   .'''.  .'''.   | |
                      | |   :    ''    :   | |
                      | |   :          :   | |
                      | |    '.      .'    | |
                      | |      '.  .'      | |
.------------.        | |        ''        | |  .------------.
| O          |        | `------------------' |  |            |
| O   .-----.|        `.____________________.'  |.-----.     |
| O .'      ||          `-------.  .-------'    ||      `.   |
|o*.'       ||   .--.      ____.'  `.____       ||       `.  |
|.-'        || .-~--~-----~--------------~----. ||        `-.|
||          || |AST  .---------.|.--------.|()| ||          ||
||          || |     `---------'|`-o-=----'|  | ||          ||
|`-._    AST|| |-*-*------------| *--  (==)|  | ||AST    _.-'|
|    ~-.____|| |  Lester - AMC  |          |  | ||____.-~    |
`------------' `------------------------------' `------------'

Oi! Você achou o "PC AMOROSO". O fato de que você está olhando aqui quer dizer que
você está tentando aprender mais sobre o sistema ou está maliciosamente tentando
arruinar meu sistema.

Espero que seja a primeira opção.

Se você quer fazer parte do projeto, pode enviar um email para vic.oldemburgo@gmail.com.
Caso eu ainda esteja na UFSC na época, vou respondê-lo, se não eu encaminharei para os próximos responsáveis.

Abraços,
Victoria Oldemburgo (Psicologia 15.1)

-->



</body>