{% block main %}
<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content=s"width=device-width, initial-scale=1">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="static/base3.css">
    <link rel="stylesheet" href="static/base.css">
    <link rel="stylesheet" href="static/vendor.css">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/match.css">
    <link rel="stylesheet" href="static/main4.css">
    <link rel="stylesheet" href="static/custom.css">
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>
</head>
<body>
    <header class="s-header">
        <div class="header-logo">
            <a class="site-logo" href="blog.html">
                <a class="mark" href="/" title="intro">WebAppUFSC</a>
            </a>
        </div>

            <nav class="row header-nav-wrap wide">
                <ul class="header-main-nav">
                    <li><a href="/index" title="blog" method="get">Home</a></li>
                    <li><a href="/" title="intro" method="get">Sobre</a></li>
                    <li><a href="/help" title="help" method="get">Como funciona</a></li>
                    <li class="current"><a href="/profile" title="profile" method="get">Profile</a></li>
                    <li><a href="/logout" title="logout">Sair</a></li>
                </ul>
            </nav>
            <a class="header-menu-toggle" href="/index"><span>Menu</span></a>
    </header>

<!--===============================================end of header==================================================-->
    <div class="s-about-2">
    <section>
    <h1> Edit your profile</h1>

    <form class="label" action="/profile" method="POST" role="form">
        <!-- form to collect profile info -->
        <div class="align-form">
            <br>
            <div class="column">
                <div class="item-plan__block">

                        <p>Nome:</p><textarea name="name" class="full-width">{{name}}</textarea>
                        <p> Idade:</p><textarea name="age" class="full-width">{{age}}</textarea>
                        <p> Curso:</p><textarea name="curso" class="full-width">{{curso}}</textarea>
                        <p> 3 atividades:</p><textarea name="top_3" class="full-width">{{top_3}}</textarea>
                        <p> Pergunta quebra-gelo:</p><textarea name="ice_breaker" class="full-width">{{ice_breaker}}</textarea>
                        <p>Sexo:</p>
                        <p><input type="radio" name="sex" value="1">Male
                        <input type="radio" name="sex" value="0">Female
                        <input type="radio" name="sex" value="2">Other</p>
                        <p>Preferência:</p>
                        <p><input type="radio" name="sexes" value="1"> Estou aberto(a) a conhecer pessoas de todos os sexos. <br>
                        <input type="radio" name="sexes" value="0"> Estou aberto(a) a conhecer apenas pessoas do mesmo sexo que o meu.</p><br>

                         <button type="submit" class="btn--primary">Submeter</button>
                    </form>
                </div>
    </div>
            </div>
        </div>
    </form>
    </section>
    </div>

    <script>
        function myFunction() {
        var x = document.getElementById("myTextarea").value;
        document.getElementById("demo").innerHTML = x;
        }



    </script>


</body>
</html>
{% endblock %}